## 학습목표
 1. list, tuple에 대해 이해하고 사용할 수 있다.

### **리스트와 튜플**
 * 복수개의 값을 담을 수 있는 데이터 구조이다.
 * 실생활에서 사용하는 리스트와 동일한 의미로 이해하면 된다. ex)수강생리스트 등.
 * list - mutable    (생성된 후에 변경 가능)  
 * tuple - immutable (생성된 후에 변경 불가능)

#### **리스트 초기화**
 - [] 안에 값을 담아서 생성한다.
 - list() 함수로 생성한다.
 - str.split()함수로 생성한다.
 
 ##### 빈리스트 만들기 
 
 ```
리스트 = []
리스트 = list()
 ```

In [182]:
list1 = []

print(type(list1))

<class 'list'>

In [183]:
list2 = list()

print(type(list2))

<class 'list'>

In [184]:
a = [1,2,3,4,]

print(a)

[1, 2, 3, 4]

In [185]:
a = [1,2,3,40,"test",a]

print(a)

[1, 2, 3, 40, 'test', [1, 2, 3, 4]]

* **list() 함수**
 + 다른 데이터 타입을 리스트로 변환할 때도 사용한다.

In [186]:
s = "hello there"

list_a = list(s)

print(list_a)

['h', 'e', 'l', 'l', 'o', ' ', 't', 'h', 'e', 'r', 'e']

In [187]:
# 데이터의 타입을 바꾸는 "형변환"

a = 10

s = str(a)

print(int(s)+a)

20

+ **string split 함수**
 * 구분자로 구분되는 리스트를 반환한다.

In [188]:
s = "hello python"
s2 = s.split()
print(s2)
type(s2)

['hello', 'python']

list

In [189]:
# 리스트는 똑같이 비어있더라도 개별 값을 가지고 있다.

b = []
b2 = []

print(id(b), id(b2))

1722111455744 1722111279616

#### **리스트 indexing**
 * 문자열의 인덱싱과 동일하게 동작한다.
 * [] 연산자를 이용하여 항목 얻어오기
 * [i] - i번째 원소를 반환
 * i가 음수인 경우도 가능하며 마지막원소가 -1로 하여 앞으로 갈때마다 1씩 감소함

In [190]:
print(s)
list_s=list(s)
print(list_s)
list_s[0]

hello python
['h', 'e', 'l', 'l', 'o', ' ', 'p', 'y', 't', 'h', 'o', 'n']

'h'

In [191]:
print(list_s[-2])

o

In [192]:
print(list_s[6])

p

In [193]:
list_b = [1,2,3,[4,5,6],7]

print(list_b[3])

[4, 5, 6]

In [194]:
list_c = [[1,2,3],[4,5,6],[7,8,[9,10,11]]]

print(list_c)

[[1, 2, 3], [4, 5, 6], [7, 8, [9, 10, 11]]]

In [195]:
print(list_c[2][0])

print(list_c[-1][-1][-1])

7
11

#### **리스트 개별 아이템에 접근**
 - 인덱스에 접근하여 값을 업데이트 가능

In [196]:
print(s)

b = list(s)

b[0] = "x"

print(b)

c = "aa"+b[0]

print(c, type(c))

hello python
['x', 'e', 'l', 'l', 'o', ' ', 'p', 'y', 't', 'h', 'o', 'n']
aax <class 'str'>

In [197]:
list_c = [1,2,3,4]

list_c[2] = 200

print(list_c)

[1, 2, 200, 4]

#### **리스트 slicing**
 - 문자열 슬라이싱과 동일하게 동작한다.
 - 슬라이싱의 결과 역시 list 이다.

In [198]:
# -숫자는 뒤에서 몇 번째

a = [1,2,3,4,5,6,7,8,9]

print(a[3:6])

print(a[:-2])

print(a[3:])

print(a[::2])

print(a[::1])

[4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

#### list 멤버 함수

* **append()**
 + 리스트의 끝에 항목을 추가한다.

In [199]:
a.append(10)

print(a)

a.append([11,12,13])

print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [11, 12, 13]]

+ **extend()**
 * 리스트를 연장한다.
 * += 로도 가능하다.

In [200]:
a1 = [1,2,3]
a2 = [4,5,6]

a1.append(a2)

print(a1)

[1, 2, 3, [4, 5, 6]]

In [201]:
a1 = [1,2,3]
a2 = [4,5,6]

a1.extend(a2)

print(a1)

[1, 2, 3, 4, 5, 6]

In [202]:
a1.extend([7,8,9])

print(a1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [203]:
a1 = [4,5,6]
a2 = [7,8,9]

a3 = a1+a2

print(a3)

[4, 5, 6, 7, 8, 9]

+ **insert()로 항목추가**
 * 리스트의 원하는 위치에 추가 가능하다.
 * 앞에 인덱스를, 뒤에 아이템을 명시한다.

In [204]:
a1 = [1,2,3]

a1.insert(1,100)

print(a1)

a1.insert(0,10)

print(a1)

[1, 100, 2, 3]
[10, 1, 100, 2, 3]

In [205]:
a2 = ["a", "b", "c"]

a2.insert(3,"d")

print(a2)

['a', 'b', 'c', 'd']

+ **remove()**
 * 값으로 항목 삭제한다.

In [206]:
print(a2.remove("a"))

print(a2)

None
['b', 'c', 'd']

+ **pop()**
  - 지우고자 하는 아이템을 반환 후, 삭제한다.

In [207]:
a2 = ["a", "b", "c"]


print(a2.pop(1))

print(a2)

b
['a', 'c']

+ **index()**
 * 찾고자 하는 값의 인덱스 반환한다.

In [208]:
a2.index("a")

0

In [209]:
a2.index("c")

1

* **in 키워드**
 + 리스트 내에 해당 값이 존재하는지 확인한다.
 + value in [list]
 + True, False 중 한가지로 반환한다.

In [210]:
"a" in a2

True

In [211]:
"d" in a2

False

* **list 정렬**
 + sort() -> 리스트 자체를 내부적으로 정렬한다.
 + sorted() -> 리스트의 정렬된 복사본을 반환한다.

In [212]:
aa = [1,3,2,5,7,9,54,5,4]

aa.sort()

print(aa)

[1, 2, 3, 4, 5, 5, 7, 9, 54]

In [213]:
# 정렬한 값을 복사하여 반환까지 처리함.

aa = [1,3,2,5,7,9,54,5,4]

bb = sorted(aa)

print(bb)

[1, 2, 3, 4, 5, 5, 7, 9, 54]

In [214]:
aa = [1,3,2,5,7,9,54,5,4]

aa.sort(reverse=True)

print(aa)

[54, 9, 7, 5, 5, 4, 3, 2, 1]

In [215]:
aa = [1,3,2,5,7,9,54,5,4]

bb = sorted(aa,reverse=True)

print(bb)

[54, 9, 7, 5, 5, 4, 3, 2, 1]

In [216]:
sum(aa)

90

In [217]:
max(aa)

54

In [218]:
min(aa)

1

* **range를 사용하여 리스트 만들기**
  + range(횟수)
  + 리스트 = list(range(횟수))
  + 리스트 = list(range(시작, 끝))
  + 리스트 = list(range(시작, 끝, 증가폭))
  
  https://dongdongfather.tistory.com/96

In [219]:
list(range(3))

[0, 1, 2]

In [220]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [221]:
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [222]:
list(range(-5,11,2))

[-5, -3, -1, 1, 3, 5, 7, 9]

### **tuple**
 - 리스트와 같이 복수개의 값을 갖는 컬렉션 타입이다. 
 - 생성된 후 변경이 불가능하다. 
 - 읽기전용 리스트이다. 
 
 
   + 튜플 = (값,값,값)
   + 튜플 = 값, 값, 값
   + 튜플 = (값,) - 요소가 하나일 때 튜플로 지정하려면 , 를 붙혀준다. 
   + 튜플 = 값,

In [223]:
# range를 이용하여 tuple만들기 - 리스트와 동일하다. 

e = tuple(range(1,11,2))

print(e, type(e))

(1, 3, 5, 7, 9) <class 'tuple'>

In [224]:
# 한 개의 값으로 튜플을 생성 할 때에는 뒤에 콤마를 붙여야 생성 가능하다.

e1 = tuple("a",)

print(e1,type(e1))

('a',) <class 'tuple'>

In [225]:
t7 = 1,

type(t7)

tuple

#### **튜플을 리스트로 리스트를 튜플로 만들기**

In [232]:
i = ["dde","e","f"]
x = ("a","b","c")

tuple(i)
list(x)

print(type(i),type(x))

<class 'list'> <class 'tuple'>

#### **list unpacking, tuple unpacking**
 - 리스트나 튜플의 값을 차례대로 변수에 대입한다.
 
 ```
 x = [1, 2, 3]
 a, b, c = x
 y = (4, 5, 6)
 d, e, f = y
 ```
 
 
#### **list packing, tuple packing**
  - 변수에 리스트나 튜플을 할당하는 과정을 뜻한다.  
  - a = [1,2,3] 
  - a = (1,2,3)
  - a = 1,2,3

* **연습문제** a와 b의 값을 교환하시오

In [227]:
a = 10
a = 20
a

20

In [228]:
a = 5
b = 4

temp = a
a = b
b = temp

print(a, b)

#여기에 구현
# 아래 공식으로 a,b 값을 교환하여 출력할 수 있다. 위 구문은 파이썬을 포함한 다른 언어에서 교환할 때 사용하는 구문. 상기 구문을 간략화 시킬 수 있다.

a,b = b,a

print(a,b)

4 5
5 4

### 시퀀스 자료형 

- 값이 연속적으로 이어져 있는 자료형을 말한다. 
- 리스트, 튜플, range, 문자열 등이 시퀀스 자료형에 해당한다. 

#### 시퀀스객체안에 원하는 값 확인하기 
- 값이 있는지 확인 할때는 아래와 같이 in 을 이용한다. 
    - 값 in 시퀀스 객체 
- in 앞에 not을 붙히면 반대로 값이 없는지 확인한다. 
    - 값 not in 시퀀스객체

In [233]:
ii = [1,2,3,5,9,7]
iii = ["a","b","c","d"]
print("a" in ii)
print("2" in ii)
print(2 in ii)
print("a" not in ii)
print("2" not in ii)
print(2 not in ii)


print(ii+iii)

False
False
True
True
True
False
[1, 2, 3, 5, 9, 7, 'a', 'b', 'c', 'd']

#### 시퀀스 객체 연결 

- + 연산자를 이용하여 객체를 서로 연결해서 새 객체를 만든다. 
    - 시퀀스객체1 + 시퀀스객체2
- 단, range는 리스트나 튜플을 만든 후 연결해야 한다. 
- 문자열은 + 연산자를 이용하여 문자열을 연결할 수 있다.

In [234]:
a = [1,2,3]
b = [4,5,6]

print(a+b)

[1, 2, 3, 4, 5, 6]

In [238]:
# range(10) + range(11,5)   range 자체로 + 연산은 불가하다.
# range를 이용해서 리스트나 튜플 생성후 연결
#print(list(range(10)+range(11,15)))


a = list(range(3))

b = list(range(1,21,3))

print(a+b)


print(sorted(a+b))

[0, 1, 2, 1, 4, 7, 10, 13, 16, 19]
[0, 1, 1, 2, 4, 7, 10, 13, 16, 19]

#### 시퀀스객체 반복하기

- * 연산자를 이용하면 시퀀스 객체를 원하는 횟수만큼 반복할 수 있다. 
- 0 또는 음수를 곱하면 빈 객체가 나온다.  실수는 곱할 수 없다. 

    - 시퀀스객체 * 정수 
    - 정수 * 시퀀스객체
- range는 * 연산자를 사용할 수 없다.
- 문자열은 * 연산자 사용이 가능하다.

#### len() 함수 이용해서 개수 구하기

- len(리스트)
- len(튜플)
- len(문자열)
- len(range())

In [239]:
len("hello")

5

In [240]:
len(range(2,10))

8

In [244]:
a = list(range(10))

print(a)

del a[1]

print(a)

del a #아예 변수 자체를 지운다

# 문자열은 변수 자체의 삭제는 가능하지만, 숫자열처럼 인덱스 넘버로 검색 삭제는 불가하다

s = "hello there"

del s

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 3, 4, 5, 6, 7, 8, 9]

In [246]:
for i in range(0,1,0.1):
    print(i)

TypeError: 'float' object cannot be interpreted as an integer

In [247]:
# 소수점 레인지 반환

import numpy

float_list = numpy.arange(0, 1, 0.1)

print(float_list)

[0.  0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9]