## 학습목표
 * for 반복문의 이해하고 활용 할 수 있다. 
 * range 함수를 이해하고 활용 할 수 있다.

### for 반복문 
 - 리스트, 문자열 등등 순회 가능한 객체를 순회하면서 값을 처리할 때 사용한다. 
 - 모든 아이템이 순회되면 for 블록 종료된다.
 - for문의 기본구조
```python
for 변수 in 리스트(또는 튜플, 문자열):
    수행할 문장1
    수행할 문장2
    ...
```

#### **for문 사용해보기**

In [1]:
a = [1,2,3,4,5]

for i in a:
    print(i)

1
2
3
4
5

In [2]:
a = (1,2,3,4,5)

for value in "hello":
    print(value)

h
e
l
l
o

In [4]:
for value in range(5):
    print(value)

0
1
2
3
4

In [8]:
sum_value = 0
for value in range(1,101):
     sum_value += value
print(sum_value)

5050

In [9]:
score = [55,34,65,74,33,64,99,88]

for i in range(1, len(score)+1):
    print(i, "번 학생 점수:{}".format(score[i-1]))

1 번 학생 점수:55
2 번 학생 점수:34
3 번 학생 점수:65
4 번 학생 점수:74
5 번 학생 점수:33
6 번 학생 점수:64
7 번 학생 점수:99
8 번 학생 점수:88

In [12]:
score = [55,34,65,74,33,64,99,88]


for i in range(1, len(score)+1):
    if score[i-1]<60:
        print(i,"번 학생점수는 {0}점 입니다. 불합격 입니다".format(score[i-1]))
    else:
        print(i,"번 학생점수는 {0}점 입니다. 합격 입니다".format(score[i-1]))

1 번 학생점수는 55점 입니다. 불합격 입니다
2 번 학생점수는 34점 입니다. 불합격 입니다
3 번 학생점수는 65점 입니다. 합격 입니다
4 번 학생점수는 74점 입니다. 합격 입니다
5 번 학생점수는 33점 입니다. 불합격 입니다
6 번 학생점수는 64점 입니다. 합격 입니다
7 번 학생점수는 99점 입니다. 합격 입니다
8 번 학생점수는 88점 입니다. 합격 입니다

#### 문자열의 아이템 출력하기
 - 문자열의 경우 순회 가능, 리스트의 유사하게 순회 가능하다.

In [3]:
s = 'hello world!!!'

#### 리스트 아이템 출력하기

In [19]:
for num in [2,2,3,3,5,]:
    print(num)

2
2
3
3
5

#### dict의 아이템 출력하기
  - dictionary의 경우 기본적으로 순회 하게 되면 key값을 참조한다.
  - keys()함수를 이용하여 key 값만 순회 가능하다.
  - values()함수를 이용하여 value 값만 순회 가능하다.
  - items()함수를 이용하여 tuple형태로 key, value 순회 가능하다.
  - person.keys()하면 키,밸류 둘다 가져온다. 이를 이용하여 둘 다 가져오는 for문 구현 가능

In [17]:
person = {'name':'kang','phone':'010-111-1111','address':'서울시 강남구'}


for key in person:
    print(key, person[key])

print()

for values in person:
    print(values)

name kang
phone 010-111-1111
address 서울시 강남구

name
phone
address

In [21]:
person.keys()

for key in person.keys():
    print(key)

name
phone
address

In [22]:
# for문으로 각 객체를 따로 뺄 수 있다.

for key,value in person.items():
    print(key,value)

name kang
phone 010-111-1111
address 서울시 강남구

#### for에서 index 사용하기
  - 기본적으로 for에 리스트를 순회하는 경우, 값만 추출 한다.
  - 아래와 같은 코드로 인덱스와 값 모두 사용 가능(enumerate 함수 이용)하다.

In [23]:
a = [10,20,30,40,50]
enumerate(a)

In [26]:
for index, value in enumerate(a):
   a = print(index, value)
print(a, type(a))

0 10
1 20
2 30
3 40
4 50
None <class 'NoneType'>

####  break
  - 반복문을 수행하는 도중 break를 만나면 loop 종료가 가능하다.

In [27]:
for value in [10,20,30,40,50,60]:
    if value == 30:
        break
    print(value)

10
20

#### continue
 - 반복문을 수행하는 도중 continue를 만나면 해당 아이템을 건너 뛴다.

In [28]:
for value in [10,20,30,40,50,60]:
    if value == 30:
        continue #30만 건너 뛰고 있다.
    print(value)

10
20
40
50
60

#### loop 중첩
  - 반복문의 경우에도 중첩하여 사용 가능하다.
  - 중첩이라는 것은 반복문 블록의 코드안에 또 반복문의 코드가 작성되는 것을 의미한다.
  - 이런 경우, 내부 루프는 외부 루프가 수행되는 만큼 반복 수행 된다.
  - 또한 중첩의 경우 무한히 가능하다.

```
for 변수 in 리스트(또는 튜플, 문자열):
    for 변수 in 리스트(또는 튜플, 문자열):
        수행할 문장1
        수행할 문장2
        ...
    ...
 
```

In [43]:
a = [1,2,3,4]
b = [10,20,30,40]

for i in a:
    for j in b:
        print(i * j ,end="\t")
    print()

10	20	30	40
20	40	60	80
30	60	90	120
40	80	120	160

#### 구구단 출력하기

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
...
2 * 9 = 18
3 * 1 = 3
..
3 * 9 = 27
...
9 * 1 = 9
...
9 * 9 = 81

In [8]:
a = range(1,10)

for i in a:
    for j in a:
        print("{0} X {1} = {2}".format(i,j,i*j) ,end="\t")
    print()

1 X 1 = 1	1 X 2 = 2	1 X 3 = 3	1 X 4 = 4	1 X 5 = 5	1 X 6 = 6	1 X 7 = 7	1 X 8 = 8	1 X 9 = 9
2 X 1 = 2	2 X 2 = 4	2 X 3 = 6	2 X 4 = 8	2 X 5 = 10	2 X 6 = 12	2 X 7 = 14	2 X 8 = 16	2 X 9 = 18
3 X 1 = 3	3 X 2 = 6	3 X 3 = 9	3 X 4 = 12	3 X 5 = 15	3 X 6 = 18	3 X 7 = 21	3 X 8 = 24	3 X 9 = 27
4 X 1 = 4	4 X 2 = 8	4 X 3 = 12	4 X 4 = 16	4 X 5 = 20	4 X 6 = 24	4 X 7 = 28	4 X 8 = 32	4 X 9 = 36
5 X 1 = 5	5 X 2 = 10	5 X 3 = 15	5 X 4 = 20	5 X 5 = 25	5 X 6 = 30	5 X 7 = 35	5 X 8 = 40	5 X 9 = 45
6 X 1 = 6	6 X 2 = 12	6 X 3 = 18	6 X 4 = 24	6 X 5 = 30	6 X 6 = 36	6 X 7 = 42	6 X 8 = 48	6 X 9 = 54
7 X 1 = 7	7 X 2 = 14	7 X 3 = 21	7 X 4 = 28	7 X 5 = 35	7 X 6 = 42	7 X 7 = 49	7 X 8 = 56	7 X 9 = 63
8 X 1 = 8	8 X 2 = 16	8 X 3 = 24	8 X 4 = 32	8 X 5 = 40	8 X 6 = 48	8 X 7 = 56	8 X 8 = 64	8 X 9 = 72
9 X 1 = 9	9 X 2 = 18	9 X 3 = 27	9 X 4 = 36	9 X 5 = 45	9 X 6 = 54	9 X 7 = 63	9 X 8 = 72	9 X 9 = 81

#### collection의 길이
 - len() 내장함수로 계산 가능하다.
 - 내장함수란 파이썬 내부에 구현되어 있어서, import하지 않고도 사용 가능한 함수를 의미한다.
 - abs, len, type, range 등이 있다.

#### range 함수
  - 리스트를 쉽게 만들 수 있는 내장함수이다.
  - 주어진 값에 따라 다양한 결과를 반환한다.
  - 숫자리스트를 자동으로 만들어 주는 range함수와 for문은 함께 자주 사용된다. 
 
```python
range(10)       -> [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
range(2, 10)    -> [2, 3, 4, 5, 6, 7, 8, 9] 
range(2, 10, 3) -> [2, 5, 8] 
```

* 1 - 100까지의 리스트 생성하기

In [33]:
list(range(1,101,1))

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

1부터 100사이의 5의 배수만을 갖는 리스트를 생성하시오

In [46]:
print(list(range(5,101,5)))

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

### 연습문제
   
  1. 1 - 100까지 정수 중 2의 배수 또는 11의 배수를 모두 출력하시오. 
  1. a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 에서 최대값과 최소값을 찾으시오. (sorted, sort 사용 금지)
  1. a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 에서 평균을 구하세요.
  1. 위의 리스트중에서 짝수에는 2를 홀수에는 3을곱해서 각각 짝수, 홀수 리스트를 새로 작성하시오.

In [47]:
import numpy as np

num = list(range(1,101,2))
num2 = list(range(1,101,11))

a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]

a1= min(a)
a2 = max(a)
a3 = np.mean(a)

print(num)

print(num2)

print(a1)
print(a2)
print(a3)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
[1, 12, 23, 34, 45, 56, 67, 78, 89, 100]
1
99
37.0

#### **List comprehension** 
- [표현식 for 항목 in 반복가능객체]
- [표현식 for 항목 in 반복가능객체 if 조건문]

In [34]:
a = [1,2,3,4]
result = []
for num in a:
    result.append(num*3)
    
print(result)

[3, 6, 9, 12]

In [37]:
# 좀 더 간략한 구문

result2 = [num*3 for num in a]

print(result2)

[3, 6, 9, 12]

In [41]:
# if 까지 같이 간략구문으로 수행

result3 = [i*3 for i in a if i%2==0]

print(result3)

[6, 12]