In [1]:
# 001

print("Hello World")

Hello World

In [2]:
# 002

print("Mary's cosmetics")

Mary's cosmetics

In [3]:
# 003

print('신씨가 소리질렀다. "도둑이야"')

신씨가 소리질렀다. "도둑이야"

In [6]:
# 004

print("C:|Windows")

C:|Windows

In [8]:
# 005

print("안녕하세요.\n만나서\t\t반갑습니다.")

# \n: 엔터 / 줄바꿈
# \t: 띄어쓰기 / 탭

안녕하세요.
만나서		반갑습니다.

In [9]:
# 006

print("오늘은", "일요일")

오늘은 일요일

In [10]:
# 007

print("naver;kakao;sk;samsung")

naver;kakao;sk;samsung

In [11]:
# 008

print("naver/kakao/sk/samsung")

naver/kakao/sk/samsung

In [12]:
# 009

print("first");print("second")

first
second

In [14]:
# 010

print(5/3)

1.6666666666666667

In [16]:
# 011

삼성전자 = 50000

총평가금액 = 삼성전자 * 10

print(총평가금액)

500000

In [17]:
# 012

시가총액 = 298000000000000
현재가 = 5000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
5000 <class 'int'>
15.79 <class 'float'>

In [23]:
# 013

s = "hello"
t = "python"

print(s+"!", t)

hello! python

In [24]:
# 014

2+2*3

8

In [25]:
#015

a = "132"
print (type(a))

<class 'str'>

In [26]:
# 016

num_str = "720"

b = int(num_str)

print(type(b))

<class 'int'>

In [27]:
# 017

num = 100

a = str(num)

print(a, type(a))

100 <class 'str'>

In [28]:
# 018

num1 = "15.79"

c = float(num1)

print(c, type(c))

15.79 <class 'float'>

In [29]:
# 019

year = "2020"

a = int(year)

print(a-1,type(a))
print(a-2,type(a))
print(a-3,type(a))

2019 <class 'int'>
2018 <class 'int'>
2017 <class 'int'>

In [31]:
# 020

aircon_price = 48584
aircon_mon = 36

total = aircon_price*aircon_mon

print(total, type(total))

1749024 <class 'int'>