In [3]:
# 021

letters = 'python'

print(letters[0],letters[2])

p t

In [6]:
# 022

license_plate = "24가 2210"

print(license_plate[4:8])
print(license_plate[-4:])

2210
2210

In [7]:
# 023
# 슬라이싱 특정문자만 출력


string = "홀짝홀짝홀짝"


print(string[::2])

홀홀홀

In [13]:
# 024
# 슬라이싱 문자 역순 변환


string = "PYTHON"

print(string[::-1])

NOHTYP

In [15]:
# 025

phone_number = "010-1111-2222"

print(phone_number.replace("-"," "))

010 1111 2222

In [19]:
# 026

phone_number = "010-1111-2222"

print(phone_number.replace("-",""))

01011112222

In [18]:
# 027

url = "http://sharebook.kr"

url_find = url.split(".")

print(url_find[-1:])


# https://webisfree.com/2017-08-23/python%EC%97%90%EC%84%9C-match-string-%EC%9D%BC%EC%B9%98%ED%95%98%EB%8A%94-%EB%AC%B8%EC%9E%90%EC%97%B4-%EC%B0%BE%EB%8A%94-%EB%B0%A9%EB%B2%95
# if, find, in 구문 이용하여 텍스트 검색 및 출력 방법

['kr']

In [20]:
# 29

string = 'abcdfe2a354a32a'

a = string.replace("a","A")

print(a)

Abcdfe2A354A32A

In [21]:
# 30
# 문자열은 변경할 수 없는 자료형 이므로, 아래 명령어가 실행 되어도 값이 변경되지 않음.
# 따라서 원래 값 출력됨

string = 'abcd'

string.replace('b', 'B')

print(string)

abcd

In [22]:
# 33

#화면에 "-"를 80개 출력하기

print("-"*80)

--------------------------------------------------------------------------------

In [26]:
# 034

t1 = 'python'

t2 = 'java'

print((t1+" "+t2+" ")*3)

python java python java python java

In [31]:
# 035,36

name1 = "김민수" 

age1 = 10

name2 = "이철희"

age2 = 13

name = "이름"

age_str = "나이"


print("%s: %s %s: %d" % (name, name1, age_str, age1))
print("%s: %s %s: %d" % (name, name2, age_str, age2))

print("{0}: {1} {2}: {3}".format(name, name1, age_str, age1))
print("{0}: {1} {2}: {3}".format(name, name2, age_str, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13
이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [32]:
# 037
# f-string은 문자열 앞에 f가 붙은 형태.
# 이를 사용하면 {변수}와 같은 형태로 문자열 사이에 타입과 상관없이 값을 출력함.

name1 = "김민수" 

age1 = 10

name2 = "이철희"
age2 = 13

print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [35]:
# 038

상장주식수 = "5,969,782,550"

stock = 상장주식수.replace(",","")

num_stock = int(stock)

print(num_stock,type(num_stock))

5969782550 <class 'int'>

In [36]:
# 039

분기 = "2020/03(E) (IFRS연결)"

year = 분기[:7]

print(year)

2020/03

In [37]:
# 040

data = "   삼성전자    "

print(data.strip())

삼성전자

In [38]:
# 041

ticker = "btc_krw"

print(ticker.upper())

BTC_KRW

In [39]:
# 042

ticker = "BTC_KRW"

print(ticker.lower())

btc_krw

In [40]:
# 043

print("hello".capitalize())

Hello

In [44]:
# 044


file_name = "보고서.xlsx"


print(file_name.endswith("xlsx"))

True

In [46]:
# 045

file_name = "보고서.xlsx"

print(file_name.endswith("xlsx" or "xls"))

True

In [49]:
# 046


file_name = "2020_보고서.xlsx"

print(file_name.startswith("2020"))

True

In [51]:
# 047

a = "hello world"

print(a.split())
print(a.split("o"))

['hello', 'world']
['hell', ' w', 'rld']

In [52]:
# 048

ticker = "btc_krw"

print(ticker.split("_"))

['btc', 'krw']

In [53]:
# 049

date = "2020-05-01"

print(date.split("-"))

['2020', '05', '01']

In [54]:
# 050

data = "039490     "


print(data.rstrip())

039490

In [57]:
# 051, 052


movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]

print(movie_rank,type(movie_rank))

movie_rank.append("배트맨")

print(movie_rank,type(movie_rank))

['닥터 스트레인지', '스플릿', '럭키'] <class 'list'>
['닥터 스트레인지', '스플릿', '럭키', '배트맨'] <class 'list'>

In [60]:
# 053

movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']

movie_rank.insert(1,"슈퍼맨")

print(movie_rank,type(movie_rank))

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨'] <class 'list'>

In [62]:
# 054

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

movie_rank.remove("럭키")

print(movie_rank,type(movie_rank))

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨'] <class 'list'>

In [63]:
# 054

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

del movie_rank[3]

print(movie_rank,type(movie_rank))

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨'] <class 'list'>

In [65]:
# 055
# .remove는 한가지 객체만 받을 수 있다.


movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

del movie_rank[2:4]

print(movie_rank,type(movie_rank))

['닥터 스트레인지', '슈퍼맨'] <class 'list'>

In [66]:
# 056


lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]


lang3 = lang1+lang2

print(lang3,type(lang3))

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#'] <class 'list'>

In [67]:
# 057


nums = [1, 2, 3, 4, 5, 6, 7]


max1 = max(nums)
min1 = min(nums)

print(max1, min1)

7 1

In [68]:
# 058

nums = [1, 2, 3, 4, 5]

print(sum(nums))

15

In [71]:
# 059


cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]


print(len(cook))

12

In [74]:
# 060

import numpy as np

nums = [1, 2, 3, 4, 5]


avg = np.mean(nums)


print(avg)

3.0

In [75]:
# 060

nums = [1, 2, 3, 4, 5]
average = sum(nums) / len(nums)
print(average)

3.0

In [76]:
# 061
# 날짜만 제거

price = ['20180728', 100, 130, 140, 150, 160, 170]


print(price[1:])

[100, 130, 140, 150, 160, 170]

In [77]:
# 062
# 슬라이싱에서 "::"는 뛰어셀 때 사용가능. :: 뒤에 오는 숫자의 수 만큼 뛰어서 셈

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


print(nums[::2])

[1, 3, 5, 7, 9]

In [78]:
# 063


nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


print(nums[1::2])

[2, 4, 6, 8, 10]

In [81]:
# 064

nums = [1, 2, 3, 4, 5]

print(nums[::-1])

[5, 4, 3, 2, 1]

In [83]:
# 065

interest = ['삼성전자', 'LG전자', 'Naver']


print(interest[0], interest[2])

삼성전자 Naver

In [84]:
# 066

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [85]:
# 067

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [86]:
# 068

print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [87]:
# 069

string = "삼성전자/LG전자/Naver"

interest = string.split("/")

print(interest)

['삼성전자', 'LG전자', 'Naver']

In [92]:
# 070

data = [2, 4, 3, 1, 5, 10, 9]

data.sort()

print(data)

[1, 2, 3, 4, 5, 9, 10]

In [93]:
# 070

data = [2, 4, 3, 1, 5, 10, 9]

data_num = sorted(data)

print(data_num)

[1, 2, 3, 4, 5, 9, 10]

In [98]:
# 071
# my_variable 이름의 비어있는 튜플을 만들라.

my_variable = ()

print(type(my_variable))

<class 'tuple'>

In [99]:
# 072

movie_rank = ("닥터 스트레인지", "스플릿", "럭키")

print(movie_rank, type(movie_rank))

('닥터 스트레인지', '스플릿', '럭키') <class 'tuple'>

In [101]:
# 73

a = (1,)

print(a, type(a))

(1,) <class 'tuple'>

In [ ]:
# 074

# 튜플 안에 속해있는 객체들은 변경할 수 없다.

In [102]:
# 075

# ","로만 구분하여도 튜플 구성이 가능하다

t = 1, 2, 3, 4

print(type(t))

<class 'tuple'>

In [103]:
# 076

t = ('a', 'b', 'c')

# 튜플은 변경 불가하기 때문에 변수에 다른 데이터를 넣어 다시 만들어야 함

t = ("A", "b", "c")

print(t, type(t))

('A', 'b', 'c') <class 'tuple'>

In [104]:
# 077

interest = ('삼성전자', 'LG전자', 'SK Hynix')

a = list(interest)

print(a, type(a))

['삼성전자', 'LG전자', 'SK Hynix'] <class 'list'>

In [105]:
# 078

interest = ['삼성전자', 'LG전자', 'SK Hynix']

a = tuple(interest)

print(a, type(a))

('삼성전자', 'LG전자', 'SK Hynix') <class 'tuple'>

In [106]:
# 079

temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [133]:
# 080


da = tuple(range(2,100,2))

          
print(da, type(da))

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98) <class 'tuple'>