### 학습목표
1. 문자열 이해하기

### **string (문자열)**
 - 문자 여러개가 순서대로 나열 된 것
 - 문자열은 '(작은따옴표) 혹은 "(큰따옴표) 사이에 문자를 넣어서 생성
 - **''' '''** 사용하여 표현 가능
 
     - '', "" -> 한줄 문자열 표현
     - ''' ''' -> 어려줄에 걸쳐 문자열 표현 가능

In [1]:
name = '네임'
name

'네임'

In [4]:
name = '네임"한글"'

name

'네임"한글"'

In [5]:
# 파이썬은 엔터가 입력된 지점을 문장의 끝으로 본다. 엔터를 경계로 각 문장이 구분되어 독립된다

a1 = """
나는 
여러
문
장
을 출력
한다
"""

print(a1)

나는
여러
문
장
을 출력
한다

In [6]:
a2 = "나는 \n여러줄로 \n쓰고 싶어요"

print(a2)

나는
여러줄로
쓰고 싶어요

#### **escape string** 
* 문자열내의 일부 문자의 의미를 달리하여 `특정한 효과`를 주는 것
* `\n` : new line `\t` : tab 등

In [9]:
print("안녕 \t 나는 \\ \'python\' 이야")

안녕 	 나는 \ 'python' 이야

In [10]:
print('\a')



In [21]:
print(a1+a2)

names = a1+a2

print(names)


print(names*4)


hi5="hi"* 5

print(hi5)

나는
여러
문
장
을 출력
한다
나는
여러줄로
쓰고 싶어요

나는
여러
문
장
을 출력
한다
나는
여러줄로
쓰고 싶어요

나는
여러
문
장
을 출력
한다
나는
여러줄로
쓰고 싶어요
나는
여러
문
장
을 출력
한다
나는
여러줄로
쓰고 싶어요
나는
여러
문
장
을 출력
한다
나는
여러줄로
쓰고 싶어요
나는
여러
문
장
을 출력
한다
나는
여러줄로
쓰고 싶어요
hihihihihi

NameError: name 'hi5' is not defined

#### **indexing & slicing string **
  - 문자열의 각 문자는 순서가 있는데, 이 순서를 **인덱스** 라고 한다.
  - 첫번째 시작문자의 순서는 0으로 시작

In [22]:
s = "Hello python"

len(s)

12

In [25]:
s[0]


s11 = s[11]

print(s11)

n

#### **-1 인덱스**
  - python의 경우 음수 인덱스를 지원한다.
  - -1이 가장 마지막 인덱스를, -2가 마지막에서 두번째 인덱스를 의미한다.

In [26]:
s[-1]

'n'

#### **인덱스의 범위**
  - 인덱스는 [0, 문자열의 길이) 의 범위만 유효하다.
  - 음수 인덱스를 사용할 경우, [-문자열의 길이, -1]
  - 범위를 넘어갈 경우 에러 발생한다.

In [27]:
s[12]

IndexError: string index out of range

#### **문자열 slicing**
  - slicing은 부분 문자열을 추출한다.
  - [시작:끝]와 같이 명시하여 (시작, 끝)에 해당하는 부분 문자열을 추출한다.
  - 시작, 끝 인덱스가 생략이 되어 있다면, 0부터 혹은 끝까지로 간주한다.
  - 마지막 숫자는 생략되어 출력된다
  - 문자열은 불변객체로써 값이 정해지면 대체가 어렵다

In [28]:
print(s)

s[1:3]

Hello python

'el'

In [29]:
s[:]

'Hello python'

In [30]:
s[:-1]

'Hello pytho'

In [31]:
s[3:]

'lo python'

In [33]:
s[6:]

'python'

In [35]:
s[:5]

'Hello'

#### **문자열 함수**
  - 문자열은 여러가지 기능 제공을 위한 함수를 내장하고 있다.   
  - tab키를 이용해서 제공하는 함수들을 확인 할 수 있다.

In [40]:
# "abc". -> 문자열 뒤에 .을 찍고 탭을 누르면 사용 가능한 함수목록이 출력된다

"abc".upper()

'ABC'

In [41]:
"ABC".lower()

'abc'

# 문자열 'BlockDMask' 선언 a = 'BlockDMask' 
# 문자열에서 'k'가 몇개 있는지 ? print('#1 a.count("k")') print(a.count('k')) 
# 문자열에서 'DM'가 몇개 있는지 ? print('#2 a.count("DM")') print(a.count('DM')) 
# 문자열에서 특정 범위 내부에 'k' 가 몇개 있는지? 
# B l o c k D M a s k 에서 index를 표기해보면 # 0 1 2 3 4 5 6 7 8 9 입니다. print("#3 a[2] + ' ~ ' + a[4]") print(a[2] + ' ~ ' + a[4]) 
#print("#4 a.count('k', 2, 3)") 
#print(a.count('k', 2, 3)) 
#print("#5 a.count('k', 2, 4)")
#print(a.count('k', 2, 4)) 
#print("#6 a.count('k', 2, 5)") 
#print(a.count('k', 2, 5))

출처: https://blockdmask.tistory.com/410 [개발자 지망생]

* **replace** 
 - 문자열 내의 특정 문자를 치환

In [43]:
# 변수를 아예 바꾸는 것이 아니라 값을 바꾸어 새로운 값을 출력.

s.replace("Hello", "hi")

'hi python'

In [44]:
print(s)

Hello python

In [46]:
#새로운 변수를 지정하면 바뀐 값이 출력

s1 = s.replace("Hello", "hi")

print(s1)

hi python

In [47]:
s.count("h")

1

In [48]:
s1.count("h")

2

In [50]:
# 제시된 값이 처음 나오는 인덱스 위치 값을 반환한다

s.find("l")

2

In [51]:
aa = '    hi    '
aa.lstrip()

'hi    '

In [52]:
aa = '    hi    '
aa.rstrip()

'    hi'

In [53]:
aa = '    hi    '
aa.strip()

'hi'

In [55]:
# 중간에 문자열로 인식되는 공백은 제외하고 앞 뒤 공백을 제거한다.

s.strip()

'Hello python'

* **format**
 - 문자열내의 특정한 값을 변수로부터 초기화하여 동적으로 문자열을 생성

In [57]:
name = "네임"
score = 100

print("나는 "+name+"이고 내 파이썬 점수는" +str(score)+"이다.")

나는 네임이고 내 파이썬 점수는100이다.

In [60]:
msg = "나는 {0} 이고 파이썬 점수는 {1} 입니다".format(name, score)


print(msg)

나는 네임 이고 파이썬 점수는 100 입니다

In [61]:
print("Hello, {language} {version}".format(language="python",version="3.8"))

Hello, python 3.8

* **split**
 - 문자열을 특정한 문자 구분하여(delimiter) 문자열의 리스트로 치환

In [20]:
s = "a-b-c-d-e-f-g"

result_s = s.split("-")

print(result_s, type(result_s))

['a', 'b', 'c', 'd', 'e', 'f', 'g'] <class 'list'>

In [21]:
s = "a b c d e f g"

result_s1 = s.split(" ")

print(result_s1, type(result_s1))

['a', 'b', 'c', 'd', 'e', 'f', 'g'] <class 'list'>

In [1]:
#https://lovelydiary.tistory.com/294 (rjust 정의) - 오른쪽 정렬

'python'.rjust(10).upper()

'    PYTHON'

In [6]:
# zfill - 지정된 길이에 맞춰서 문자열의 왼쪽에 0을 채웁니다 (zero fill을 의미)

"35".zfill(4)

'0035'

In [7]:
"3.2".zfill(5)

'003.2'

In [10]:
"hello".zfill(10)

'00000hello'

- 서식 지정자로 문자열 넣기

In [14]:
# "%s" %"문자열"

print("I am %s." % "james")

I am james.

In [15]:
name = "maria"

print("I am %s" % name)

I am maria

In [16]:
# %d 숫자


print("i am %d years old" % 20)

i am 20 years old

In [17]:
# %f 소수점

"%f" % 2.3

'2.300000'

In [18]:
"%.2f" % 2.3

'2.30'

* **join**
    - 구분자 문자열과 문자열 리스트 연결하기

In [23]:
join_s = " ".join(result_s)

print(join_s)

a b c d e f g

In [24]:
join_s = ",".join(result_s)

print(join_s)

a,b,c,d,e,f,g

In [25]:
join_s = "\n".join(result_s)

print(join_s)

a
b
c
d
e
f
g

* **특정문자삭제**

In [27]:
print("*.*... test * pyt . hon*.*".strip("*"))

.*... test * pyt . hon*.

In [29]:
print("*.*... test * pyt . hon*.*".replace("*",""))

.... test  pyt . hon.

In [31]:
import string

print(string.punctuation)

print("*.*.)*+-, test * pyt . hon*.*".strip(string.punctuation).upper())

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~
 TEST * PYT . HON

In [34]:
#비교연산  is 같은 객체인   is not 같은 객체가 아닌..  x or y , x and y , not x
# 아래 결과치의 숫자를 보면 같은값임. 문자열은 다른 객체로 인식은 될지라도 같은 값으로 저장된다.


s1 = "camel"
s2 = "camel"

print(s1 == s2)
print(s1 is s2)

print(s1,id(s1), s2, id(s2))

True
True
camel 1843197236336 camel 1843197236336

In [ ]:
#문자열 타입

#데이터가 여러 문자로 구성되어 있고 다른 문자와 연결될 수 있으며 데이터에 포함된 문자열의 길이를 확인 할 수 있는 데이터 타입

#파이썬에서 문자열 데이터 타입은 str  여러줄로 표현할때는 ''' '''  또는 """ """

In [3]:
#변할 수 없는 (immutable) vs 변할 수 있는 (mutabel)

In [2]:
print('h'*12)

hhhhhhhhhhhh