## 학습목표
 1. dictionary, set에 대해 이해하고 활용할 수 있다.

### **dictionary**
 + 키와 값을 갖는 데이터 구조이다.
 + 인덱스 는 존재하지 않으며 키 값으로 바로 접근한다
 + 키는 내부적으로 hash값으로 저장된다.
 + 순서가 없다. 그러므로 인덱스가 존재하지 않는다. 
 
 - Key와 Value의 쌍 여러 개가 { } - 중괄호 로 둘러싸여 있다. 
 - 각각의 요소는 Key : Value 형태로 이루어져 있고 쉼표(,)로 구분되어 있다.
 
 ```
 dict = {} -> 비어있는 딕셔너리 생성 가능
 
 dic22 = {key1:value1, key2:value2,....} 
 ```
 
 # JSON 형태는 파이썬의 딕셔너리 구조와 같다
 + xml 방식은 태그의 형태로 데이터 키 값 설정함.
 + xml 은 태그로 정의하기 때문에 데이터가 커질 수록 태그의 수도 많아진다

+ **딕셔너리 요소 추가 및 변경**
 - 기존에 키가 존재 하면, 새로운 값으로 업데이트된다.
 - 존재하지 않으면, 새로운 키, 값 생성된다.

+ **딕셔너리 요소 삭제**
  * del 키워드  
    + del a[1]
  * pop() 함수
    + a.pop('key')

In [71]:
d = {}

print(type(d))

student = {"키 값":"밸류 값", "키 값1":"밸류 값2"}

print(student, type(student))

<class 'dict'>
{'키 값': '밸류 값', '키 값1': '밸류 값2'} <class 'dict'>

In [72]:
d = {"a":[1,2,3]}

# 문자열 숫자 튜플 리스트 다 넣을 수 있다.

In [73]:
d["a"]

[1, 2, 3]

In [74]:
student["키 값"]

'밸류 값'

In [75]:
student["키 값1"]

'밸류 값2'

In [76]:
student.get("키 값")

'밸류 값'

In [77]:
d2 = {1:"a", 2:"b", "student":student}

print(d2)

{1: 'a', 2: 'b', 'student': {'키 값': '밸류 값', '키 값1': '밸류 값2'}}

In [78]:
d2["student"]["키 값"]

'밸류 값'

In [79]:
d2["student"]["키 값"] = "홍길동"

# 키 값을 이용하여 딕셔너리에 접근한 후 해당 밸류 값을 별도의 값으로 변경할 수 있다.

In [80]:
print(d2)

{1: 'a', 2: 'b', 'student': {'키 값': '홍길동', '키 값1': '밸류 값2'}}

In [81]:
#setdefault()  이용해서 추가하기!!

In [82]:
x = {'a':10,'b':20,'c':30,'e':50}
y = {'a':100,'b':200,'c':300,'d':400}

In [83]:
x={'a':10,'b':20,'c':30,'d':40}

In [84]:
y={1:'one',2:'two'}

In [85]:
y={1:'one',2:'two'}

* **딕셔너리 key값 삭제**
 - del 키워드 사용
  + del a[1]
 - pop 함수 이용
  + a.pop("key 값")

In [86]:
print(d2)

del d2[1]

print(d2)

{1: 'a', 2: 'b', 'student': {'키 값': '홍길동', '키 값1': '밸류 값2'}}
{2: 'b', 'student': {'키 값': '홍길동', '키 값1': '밸류 값2'}}

In [87]:
d2.pop(2)

'b'

In [88]:
d2[1] = "test"

d2

# 별도의 키 값과 밸류값을 입력하여 딕셔너리에 데이터를 추가할 수 있다.

{'student': {'키 값': '홍길동', '키 값1': '밸류 값2'}, 1: 'test'}

In [89]:
d2[2] = [1,2,3]

d2

{'student': {'키 값': '홍길동', '키 값1': '밸류 값2'}, 1: 'test', 2: [1, 2, 3]}

In [90]:
d2["student"]["score"] = {"python": 100, "mysql": 100}

d2

{'student': {'키 값': '홍길동',
  '키 값1': '밸류 값2',
  'score': {'python': 100, 'mysql': 100}},
 1: 'test',
 2: [1, 2, 3]}

In [91]:
# setdefault() 이용하여 추가하기
# 제시한 값이 있으면 추가 및 변경하여 출력하고 없으면 기존의 값을 출력
# 입력된 값들은 중복되지 않는다.

x = {"a":10, "b":20, "c":30}

x.setdefault("d")
print(x)
x["a"]
 
x.setdefault("a")
print(x)

x["e"] = 50
print(x)

x.setdefault("f", 200)
print(x)
x["a"] = 1000
print(x)

{'a': 10, 'b': 20, 'c': 30, 'd': None}
{'a': 10, 'b': 20, 'c': 30, 'd': None}
{'a': 10, 'b': 20, 'c': 30, 'd': None, 'e': 50}
{'a': 10, 'b': 20, 'c': 30, 'd': None, 'e': 50, 'f': 200}
{'a': 1000, 'b': 20, 'c': 30, 'd': None, 'e': 50, 'f': 200}

 + update()
     + 두 딕셔너리를 병합한다.
     + 겹치는 키가 있다면 parameter로 전달되는 키 값이 overwrite 된다.

In [92]:
x = {"a":10, "b":20, "c":30, "e":50}
y = {"a":100, "b":200, "c":300, "d":400}

y.update(x)

print(x)
print(y)

{'a': 10, 'b': 20, 'c': 30, 'e': 50}
{'a': 10, 'b': 20, 'c': 30, 'd': 400, 'e': 50}

In [93]:
x = {"a":10, "b":20, "c":30, "d":40}

x.update(a=100)
print(x)

x.update(a=1000, b=200, e=500)
print(x)

{'a': 100, 'b': 20, 'c': 30, 'd': 40}
{'a': 1000, 'b': 200, 'c': 30, 'd': 40, 'e': 500}

In [94]:
y = {1:"one", 2:"two"}

y.update([[1,"one"]])

print(y)

{1: 'one', 2: 'two'}

In [95]:
y = {1:"one", 2:"two"}

y.update([[1,"one"], [3, "three"]])

print(y)

{1: 'one', 2: 'two', 3: 'three'}

In [96]:
y.pop(2)

'two'

In [97]:
y

{1: 'one', 3: 'three'}

* **clear()**
 + 딕셔너리의 모든 키-값 쌍을 삭제한다.

In [98]:
print(x)

{'a': 1000, 'b': 200, 'c': 30, 'd': 40, 'e': 500}

In [99]:
x.clear()

print(x)

{}

In [104]:
x = {"a":10, "b":20, "c":30, "e":50}

del x

print(x)

NameError: name 'x' is not defined

* **in**
 + key값 존재여부를 확인한다.
 + O(1) 연산 - 딕셔너리의 크기와 관계없이 항상 연산의 속도가 일정하다는 의미한다.

In [106]:
x={'a':10,'b':20,'c':30,'d':40}

a = "a" in x
b = "e" in x

print(a, b)

True False

* **value access**
 + dict[key]로 접급, 키가 없는 경우 에러 발생 
 + .get() 함수로 접근, 키가 없는 경우 None반환

In [107]:
x["hg"]

KeyError: 'hg'

In [109]:
a = x.get("hg")

print(a)

None

#### **모든 keys, values 접근**
 + keys() - 키만 반환
 + values() - 값만 반환
 + items() - 키, 값의 튜플을 반환

In [110]:
x={'a':10,'b':20,'c':30,'d':40}

x.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [111]:
x={'a':10,'b':20,'c':30,'d':40}


x.values()

dict_values([10, 20, 30, 40])

In [112]:
x={'a':10,'b':20,'c':30,'d':40}

x.items()

dict_items([('a', 10), ('b', 20), ('c', 30), ('d', 40)])

In [113]:
# 리스트로 변환시

x={'a':10,'b':20,'c':30,'d':40}

a = list(x.items())

print(a, type(a))

[('a', 10), ('b', 20), ('c', 30), ('d', 40)] <class 'list'>

### **리스트와 튜플로 딕셔너리 만들기**

In [2]:
keys = ['a','b','c','d']

dict1 = dict.fromkeys(keys)

print(dict1)

{'a': None, 'b': None, 'c': None, 'd': None}

In [3]:
dict2 = dict.fromkeys(keys, 100)

print(dict2)

{'a': 100, 'b': 100, 'c': 100, 'd': 100}

In [4]:
dict3 = dict([("a",10),("b",20),("c", 30)])

print( dict3)

{'a': 10, 'b': 20, 'c': 30}

In [5]:
dic4 = dict(a= 10, b= 20, c= 30)

print(dic4)

{'a': 10, 'b': 20, 'c': 30}

### **set**
 + dictionary에서 key만 활용하는 데이터 구조이다.
 + 수학에서의 집합과 동일한 개념이다.
 + 파이썬 2.3부터 지원된 자료형으로 집합에 관련된 것을 쉽게 처리한다.
 + set 키워드를 이용해서 만들 수 있다. 
 + 빈 set 을 만드는 방법은 set() 을 이용한다. 
 + 특징
     - 중복을 허용하지 않는다. 
     - 순서가 없다.

In [6]:
s1 = {1,2,3}

print(s1, type(s1))

{1, 2, 3} <class 'set'>

In [7]:
s2 = set()

print(type(s2))

<class 'set'>

In [8]:
# set은 중복되는 값은 출력하지 않는다

s3 = {1,2,3,4,5,6,7,8,9,9,9,9,9,9,9,9,9,9,9,9}

print(s3, type(s3))

{1, 2, 3, 4, 5, 6, 7, 8, 9} <class 'set'>

In [18]:
a = [1,1,1,1,1,1,1,1,1,2,3,4]

b = set(a)

print(b,type(b))

{1, 2, 3, 4} <class 'set'>

In [17]:
ss = "hello"

s5 = set(ss)

print(s5, type(s5))

{'o', 'l', 'h', 'e'} <class 'set'>

* **set()으로 집합으로 변환**

In [19]:
a = {1,2,3}
b = {2,3,4}

print(a-b)
print(a.difference(b))
print(a | b)
print(a.union(b))
print(a&b)
print(a.intersection(b))

{1}
{1}
{1, 2, 3, 4}
{1, 2, 3, 4}
{2, 3}
{2, 3}

+ **set operations**
 - 수학 연산과 동일하다.
 - 교집합, 합집합, 차집합 등 지원한다.

In [9]:
a = {1,2,3}
b = {2,3,4}

+ **set 값 추가 제거 하기**

In [24]:
# add는 하나씩 추가
a.add(5)
print(a)
a.remove(5)
print(a)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 6}

In [25]:
# update는 여러개 추가
a.update([4,5,6])
print(a)

a.update([5,6,7])
print(a,type(a))

{1, 2, 3, 4, 5, 6}

In [28]:
print(a.pop())

1

In [34]:
# zip 함수
# zip을 리스트로 형변환 하면 튜플로 출력

a = [1,2,3]
b = ["a", "b", "c"]

print(list(zip(a,b)))
print(dict(zip(a,b)))


c = [100,200,300,400,500,600]

print(list(zip(a,b,c)))
# 딕셔너리는 키:밸류 로 구성되기 때문에 여러개가 묶인 zip은 형변환 되지 않는다.

[(1, 'a'), (2, 'b'), (3, 'c')]
{1: 'a', 2: 'b', 3: 'c'}
[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [35]:
a = [1,2,3,4]
b = ["a", "b", "c"]

print(list(zip(a,b)))
print(dict(zip(a,b)))


c = [100,200,300,400,500,600]

print(list(zip(a,b,c)))

[(1, 'a'), (2, 'b'), (3, 'c')]
{1: 'a', 2: 'b', 3: 'c'}
[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [36]:
a = [1,2,3,4]
b = ["a", "b", "c"]

print(list(zip(a,b)))
print(dict(zip(a,b)))


c = [100,200,300,400,500,600]

d = "hello"
print(list(zip(a,b,c,d)))

[(1, 'a'), (2, 'b'), (3, 'c')]
{1: 'a', 2: 'b', 3: 'c'}
[(1, 'a', 100, 'h'), (2, 'b', 200, 'e'), (3, 'c', 300, 'l')]

#### list 복사

In [5]:
names = ['kang','kim','hong','lee']

names2 = names

names2[0] = "choi"

print(id(names),names)
print(id(names2),names2)

names2 = names.copy()
names2[0] = "kang"
print(id(names),names)
print(id(names2),names2)

1204764001024 ['choi', 'kim', 'hong', 'lee']
1204764001024 ['choi', 'kim', 'hong', 'lee']
1204764001024 ['choi', 'kim', 'hong', 'lee']
1204763817216 ['kang', 'kim', 'hong', 'lee']

In [6]:
s = "hello"

s2 = s

print(id(s), s)
print(id(s2), s2)

s2 = s2+"a"

print(id(s), s)
print(id(s2), s2)

1204764277744 hello
1204764277744 hello
1204764277744 hello
1204764296304 helloa

In [7]:
# 리스트를 복사하게 되면 복사모체의 id를 복사되게 되는데, 안에 객체가 바뀌게 되면 id 값도 바뀌게 된다.

In [11]:
list_a = [[10,20], [30,40], [50,60]]
list_b = list_a.copy()
print(id(list_a),list_a)
print(id(list_b),list_b)

list_b[0][0] = 500

print(id(list_a),list_a)
print(id(list_b),list_b)

# 각 객체의 id를 같이 복사했기 때문에 b가 바뀌더라도 a도 같이 바뀌게 된다.

1204764079552 [[10, 20], [30, 40], [50, 60]]
1204764000768 [[10, 20], [30, 40], [50, 60]]
1204764079552 [[500, 20], [30, 40], [50, 60]]
1204764000768 [[500, 20], [30, 40], [50, 60]]

In [13]:
import copy

list_b = copy.deepcopy(list_a) # 값만 전달한다. id 제외

print(id(list_a),list_a)
print(id(list_b),list_b)

list_b[0][0] = 600

print(id(list_a),list_a)
print(id(list_b),list_b)

1204764079552 [[500, 20], [30, 40], [50, 60]]
1204764079808 [[500, 20], [30, 40], [50, 60]]
1204764079552 [[500, 20], [30, 40], [50, 60]]
1204764079808 [[600, 20], [30, 40], [50, 60]]